.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing-page {
  height: 100%;
  width: 100%;
  padding-top: 10vh;
}

.user-display {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 5vw;
}

.user-display img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

#loader {
  align-self: center;
}
