body {
  background: #2b4141;
}

.App {
  background: #2b4141;
}

.container {
  border: 1px solid #b6d6cc;
}

.user-container {
  border: 1px solid white;
  margin: 10%;
}

.user-display img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.user-images {
  column-count: 1;
  column-gap: 0.5em;
}

.user-images img {
  width: calc(100% / 3);
  border-radius: 0;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  box-sizing: border-box;
}

.profile-image {
  border-radius: 50%;
}
